body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* === Navbar === */
.navbar-toggler {
  border: transparent;
}

.fas {
  color:white;
  font-size: 2rem;
}

.navbar {
  background-color: #212529 !important;
}

.navbar-nav .nav-item .nav-link {
  color: #FFF !important;
}

.nav-item > .active {
  border-bottom: 2px solid #FFF;
  opacity: .7;
}

/* === ===== ==== */
.home-bg {
  background: url(./img/home-bg.jpeg);
  background-size: cover;
  height: 100vh;
  background-position: center;
  position: relative;
  color: #fff;
}

.overlay {
  background-color: #21295C;
  opacity: .95;
  background-size: cover;
  height: 100vh;
  background-position: center;
  position: relative;
}

.overlay-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading-text {
  margin-top: 25vh;
  text-align: center;
  font-weight: 700;
  margin-bottom: 50px;
}

#header-button {
  animation-delay: 1s
}
.card-img-top {
  width: 100%;
  height: 30vw;
  object-fit: cover;
}

.post-list {
  margin-left: 10%;
}

.section-heading {
  font-size: 3rem;
  font-weight: 400;
  text-align: center;
  margin: 40px 0 50px 0;
}

/* === About Section === */

.about-wrapper {
  padding: 0px;
  color: #010D00;
  text-align: center;
  padding-top: 60px;
  padding-bottom: 30px;
}

.about-image {
  height: 450px;
  width: 350px;
  margin-bottom: 20px;
}

.about-text {
  font-size: 1.2rem;
}

/* === Skills Section === */
.skills-wrapper {
  padding: 50px;
  color: #010D00;
  text-align: center;
}

.skills-card {
  border: 1px solid rgb(245, 245, 245);
  display: inline-block;
  margin: 20px;
}

.skills-card .card-body {
  text-align: center;
}

.skills-card .fab {
  font-size: 4rem;
  color: #C1C8D2;
  margin-left: 3%;
  margin-top: 25px;
}

/* === Projects Section === */
#projects {
  background: #21295C;
}

.project-wrapper {
  padding: 50px 10px;
  text-align: center;
  color: #fff;
}

.project-wrapper .box {
  width: 350px;
  height: 350px;
  border-radius: 4px;
  background: #FFF;
  margin: 20px;
  display: inline-block;
  overflow: hidden;
}

.project-wrapper .box .hover-box {
  background: rgb(39, 47, 97, .98);
  position: relative;
  bottom: -100%;
  height: 100%;
  width: 100%;
  transition: all 0.7s ease;
  opacity: 0;
}

.project-wrapper .box:hover .hover-box {
  bottom: 0;
  opacity: 1;
}

.project-box-heading {
  font-size: 1.7rem;
  padding-top: 10px;
  margin-bottom: 5px;
}

.project-wrapper .box .hover-box p {
  text-align: left;
  margin: 0 10px;
  font-size: 1.2rem;
  font-weight: 400;
}

.project-wrapper .box .hover-box h6 {
  font-size: 1.2rem;
  text-align: center;
  margin-top: 20px;
}

.tech-stack-text {
  font-size: 1rem;
}

/* === Contact Section === */
#contact {
  background: #25485E
}

.contact-wrapper {
  padding: 80px 110px;
  color: #fff;
}

.contact-heading {
  text-align: center;
}

.form-control {
  border: 1px solid rgb(88, 105, 131);
  background-color: #25485E;
}

.form-control:focus {
  border: 1px solid #9EB3C2;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.015), 0 0 2px rgba(255, 255, 255, 0.6);
  background-color: #25485E;
  color: #FFF;
}

.form-control::placeholder {
  color: rgb(161, 161, 161);
}

.contact-button:hover {
  opacity: .8;
}

/* === Footer Section === */
#footer {
  background: #343A40;
}

.footer-wrapper {
  color: #FFF;
  text-align: center;
  padding: 20px 0;
}